body {
	color: #110f0f;
}

.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #dcdfdf;
	font-family: "Alegreya Sans SC", sans-serif;
	color: rgba(0, 0, 0, 0.6);
	width: 7px;
	height: 15px;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
	position: relative;
	left: 8px;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	color: white;
	background-color: #f8aa83;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.form {
	max-width: 270px;
	font-family: "Alegreya Sans SC", sans-serif;
	font-weight: normal;
	line-height: 1.625;
	margin: 8px auto;
	padding-left: 16px;
	z-index: 2;
}

h2 {
	font-size: 18px;
	margin-bottom: 8px;
}

.area {
	height: 15px;
	font-family: "Alegreya Sans SC", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 90%;
	border: 0;
	margin: 0 0 10px;
	padding: 6px auto 10px auto;
	box-sizing: border-box;
	font-size: 15px;
	height: 35px;
	border-radius: 5px;
	position: relative;
	left: 4px;
}

::-webkit-input-placeholder {
	color: gray;
	font-family: "Catamaran", sans-serif;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: gray;
	font-family: "Catamaran", sans-serif;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: gray;
	font-family: "Catamaran", sans-serif;
}

:-ms-input-placeholder {
	color: gray;
	font-family: "Catamaran", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.location {
	height: 15px;
	font-family: "Alegreya Sans SC", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 80%;
	border: 0;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
	height: 40px;
	border-radius: 5px;
	margin: 5px 10px 10px auto;
	position: relative;
	right: -9px;
}

.submit {
	color: black;
	font-family: "Alegreya Sans SC", sans-serif;
	background: #f4c7abc9;
	width: 90%;
	border: 0;
	box-sizing: border-box;
	font-size: 15px;
	height: 35px;
	text-align: center;
	border-radius: 5px;
	margin: 25px auto 0px 3px;
}

.result {
	font-family: "Rubik", sans-serif;
	background: #e6e7eb;
	width: 85%;
	line-height: 1.9;
	border: 0;
	box-sizing: border-box;
	font-size: 15px;
	height: 35px;
	text-align: center;
	border-radius: 5px;
	margin: 30px 36px 0px 24px;
	margin: 30px auto 0px;
}

.img {
	background: url("https://i.ibb.co/h9ZjkBf/cropped-image.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-size: 100% 100%;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(0.5px);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

@media screen and (min-width: 768px) {
	.img {
		background: url("https://m.foolcdn.com/media/millionacres/original_images/image2_mdDMemJ.jpg?crop=4:3,smart");
		background-repeat: no-repeat;
		background-size: auto;
		background-size: 100% 100%;
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(0.9px);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.switch-field input:checked + label {
		color: white;
		background-color: #022e57;
		box-shadow: none;
	}

	.submit {
		color: white;
		font-family: "Alegreya Sans SC", sans-serif;
		background: #00598de5;
		width: 90%;
		border: 0;
		box-sizing: border-box;
		font-size: 15px;
		height: 35px;
		text-align: center;
		border-radius: 5px;
		margin: 25px auto 0px 3px;
	}
}

@media screen and (min-width: 1025px) {
	body {
		color: #110f0f;
		overflow: hidden;
	}
	.img {
		background: url("https://www.washingtonian.com/wp-content/uploads/2019/08/lead-5-scaled.jpg");
		background-repeat: no-repeat;
		background-size: auto;
		background-size: 100% 100%;
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(1px);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.switch-field input:checked + label {
		color: white;
		background-color: #00adb5;
		box-shadow: none;
	}

	.submit {
		color: black;
		font-family: "Alegreya Sans SC", sans-serif;
		background: #91dce4c9;
		width: 90%;
		border: 0;
		box-sizing: border-box;
		font-size: 15px;
		height: 35px;
		text-align: center;
		border-radius: 5px;
		margin: 25px auto 0px;
	}
}

fieldset {
	background-color: rgba(239, 241, 241, 0.449);
	border-radius: 4px;
	max-width: 250px;
	max-height: 650px;
	margin: auto;
	padding: 50px;
	border: 1px solid black;
	position: relative;
	padding-top: 20px;
}

legend {
	font-family: "Alegreya Sans SC", sans-serif;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 17px;
	font-weight: bold;
	padding: 3px 5px 3px 7px;
	width: auto;
	position: absolute;
	bottom: 598px;
	right: 150px;
}

body,
html {
	height: 100%;
}

body {
	margin: 60px;
	border: 60px;
}
